.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #000;
  width: 160px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ratingContainer {
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingContainer h6 {
  color: #222;
  opacity: 0.7;
  margin-left: 2px;
}

.solidStar {
  width: 21.5px;
}

.halfStar {
  width: 20px;
}

.regularStar {
  width: 21.5px;
}
